*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.desitination-name {
    position: absolute;
    top: 4rem;
    color: #FFFFFF;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 4rem;
    font-size: 5rem;
    padding-top: 1rem;
}

.iternary {
    /* background-image: url("../Assets/Images/hawaii.jpg");  // for future reference */
    /* height: 75vh; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15rem;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-bottom: 8rem;
}

.iternary-days {
    background-color: #FFFFFF;
    margin: 1.5rem 1rem 1rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: -1rem;
    padding-bottom: 2.5rem;
}

.iternary-day {
    padding-left: 5.3rem;
    padding-right: 5.3rem;
    border-bottom: solid;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.8rem;
    list-style: none;
}

.iternary-saturday {
    padding-left: 4rem;
    padding-right: 4rem;
    border-bottom: solid;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.8rem;
    list-style: none;
}

.iternary-sunday {
    padding-left: 4.79rem;
    padding-right: 4.7rem;
    border-bottom: solid;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.8rem;
    list-style: none;
}

.iternary-list {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 0.9rem;
    font-weight: 100;
    background-color: #FEFAF5;
    font-display: center;
    text-align: center;
    margin-top: 0.6rem;
    list-style: none;
}

.iternary-list-last {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 100;
    background-color: #FEFAF5;
    font-display: center;
    text-align: center;
    margin-top: 1rem;
    list-style: none;
    margin-bottom: 1.5rem;
}

.destination-page {
    margin-top: -1rem;
}