*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* header */

.navbar {
    background-color: #FFFFFF;
    color: #335576;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    display: flex;
    margin-right: 3rem;
}

.navbar__header {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 45rem;
    margin-left: 3.5rem;
    text-decoration: none;
    margin-bottom: 0;
}

.navbar__link {
    align-items: center;
    text-decoration: none;
    margin-left: 0.8rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    justify-content: center;
}

.navbar__link:hover {
    text-decoration: underline;
}

.navbar__header:hover {
    text-decoration: none;
}

.underline {
    border-bottom: #DB7a4E;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0.4rem;
}


/* footer */

.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-content: center;
    padding: 3rem 1rem 2rem 3rem;
    color: #335576;
    background-color: #FEFAF5;
    text-decoration: none;
}

.contact {
    margin-left: 3rem;
    margin-right: 6rem;
}

.hours {
    display: flex;
    position: relative;
    margin-left: 0rem;
    margin-right: 6rem;
}

.odd {
    margin-bottom: -3rem;
}

.hours-days {
    color: #DB7A4E;
    font-size: 0.5rem;
    font-weight: 100;
    margin-top: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-align: left;
}

.hours-days-time {
    font-size: 0.8rem;
    font-weight: 100;
    margin-top: 0;
    margin-right: 1.5rem;
    text-align: right;
}

.weekends {
    margin-top: 4.5rem;
    text-align: left;
}

.email {
    color: #DB7A4E;
    font-size: 0.5rem;
    font-weight: 100;
    margin-top: 1.8rem;
}

.email-id {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 0rem;
}

.icon {
    margin-right: 2rem;
    margin-top: 1rem;
}